/* Global Settings */
html {
    font-family: 'Lora', sans-serif;
    width: 100%;
    }
    
    body {
    background-color:rgb(247, 227, 238);
    margin: 5% auto 0 20%;
    width: 90%;
    max-width: 960px;
    }
    
    /* Grid settings */
    #container {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    padding-bottom: 50px;
    width: 800;
    height: 100;
    /*grid-auto-rows: minmax(100px, auto);*/
    }
    
    #container-1 {
    display: grid;
    grid-template-columns: auto;
    padding:20px;
    padding-bottom:50px;
    }
    
    /* Special Radio Buttons */
    .input-radio{
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
    }
    input[type=radio] {
        display: none;
        border: 1px solid rgb(0, 0, 0);
    }
    input[type=radio] + label {
        padding: 20px;
        border-radius: 40px;
        border: 1px solid rgb(146, 126, 126);
    
    }
    input[type=radio] + label:hover {
        border: 1px solid red;
    }
    input[type=radio]:checked + label {
        border: 1px solid rgb(65, 0, 0);
    }
    
    #special-radio, #button-div {
        float: left;
    }
    
    #special-radio {
        width: 100%;
        /*background-color: #0ff;*/
    }
    
    #button-div {
        margin-top: 50px;
        margin-left: 50px;
        width: 30%;
        /*background-color: #f0f;*/
    }
    form{
        margin-bottom: 50px;
    }
    h1{
        float:left;
        color:rgb(150, 123, 123);
        font-size:600%;
        margin-bottom:100px;
    }