<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM Visualization</title>
    <link href='https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/textstyle.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
</head>
<body>
    <script src="{{url_for('static', filename='jquery.js') }}"></script>
    <script src="{{url_for('static', filename='utils.js') }}"></script>
    <script src="{{url_for('static', filename='graph.js') }}"></script>
    <script src="{{url_for('static', filename='ElGrapho.min.js') }}"></script>
    <div id="container">
        <!-- Text Field
        
        -->
        <h1>DOM Visulization</h1>
        <form method="GET" onsubmit="callback()" id="myform">
            <input type="text" name="name" class="question" id="url_p" required autocomplete="off" />
            
            <label><span>Enter Web Page URL here </span> </label>
            <input type="submit" value="Go">
        </form>
    
        <!--- Radio Buttons to choose different type of graph--->
        
        <div id="special-radio ">
            <!-- default one Force directed Graph-->
            <div class="input-radio "><input type="radio" id="rd1" name="grp1" onclick="rd1_cf();" value="" checked>
                <label class="option" for="rd1">Force Directed Graph</label></div>
                <!-- Random Tre Graph-->
            <div class="input-radio "><input type="radio" id="rd2" name="grp1" onclick="rd2_cf();" value="">
                <label class="option" for="rd2">Random Tree</label></div>
                 <!-- Radial Tree Graph-->
            <div class="input-radio "><input type="radio" name="grp1" id="rd3" onclick="rd3_cf();" value="">
                <label class="option" for="rd3">Radial Tree</label></div>
                 <!-- Cluster Graph-->
            <div class="input-radio "><input type="radio" name="grp1" id="rd4" onclick="rd4_cf();" value="">
                <label class="option" for="rd4">Cluster</label></div>
            
        </div>
      </div>
      <div id='loader' style='display: none;'>
        <img width="800" height="600" src="{{ url_for('static', filename='loading-icegif-1.gif') }}"> 
      </div>
      <div id="container-1">
        <!-- empty container to display graph-->
        
      </div>
</body>
</html>


